<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ulraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <title>TCC | Agendamento</title>
    <script>
    // Quando a página carrega
    document.addEventListener("DOMContentLoaded", function() {
        var idMedico = localStorage.getItem("idMedico");
        document.getElementById("medico").value = idMedico || "";
    });

    function redirecionarPagina() {

    var idEspecialidade = document.getElementById("especialidade").value;
    var idMedico = document.getElementById("medico").value;

    // Armazenar o valor no localStorage
    localStorage.setItem("idMedico", idMedico);

    if (idEspecialidade && idMedico) {

        window.location.href = "agendar?idEspecialidade=" + idEspecialidade + "&idMedico=" + idMedico;
        }
    }
</script>
</head>
<body>

<section class="layout-content" layout:fragment="content">
    <main role="main">

        <input type="hidden" id="especialidade" th:value="${idEspecialidade}">

        <div class="mb-3">
            <label for="medico" class="form-label">Médicos</label>
            <select id="medico" name="medico" th:value="${idMedico}" onchange="redirecionarPagina()">
                <option value="" th:selected="${idMedico eq null or idMedico eq ''}">Selecione um médico</option>
                <option th:each="medico : ${medicos}" th:value="${medico.id}" th:text="${medico.nome}" th:selected="${medico.id eq idMedico}"></option>
            </select>
        </div>

        <div th:if="${not #lists.isEmpty(horarios)}">
            <form method="post" th:action="@{/agendamentos/agendar}" th:object="${cadastroAgendamentoDto}">

                <input type="hidden" th:value="${cadastroAgendamentoDto.especialidade}" th:field="${cadastroAgendamentoDto.especialidade}">
                <input type="hidden" th:value="${cadastroAgendamentoDto.medico}" th:field="${cadastroAgendamentoDto.medico}">
                <input type="hidden" th:value="${cadastroAgendamentoDto.paciente}" th:field="${cadastroAgendamentoDto.paciente}">

                <div class="mb-3">
                    <label for="horario" class="form-label">Horarios disponiveis</label>
                    <select id="horario"  th:field="${cadastroAgendamentoDto.horario}"  required>
                        <option th:each="horario : ${horarios}" th:value="${horario.id}" th:text="${horario.horaMinuto}"></option>
                    </select>
                </div>

                <div>
                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                    <a th:href="@{/agendamentos}" class="btn btn-primary">Voltar</a>
                </div>
            </form>
        </div>

    </main>
</section>

</body>
</html>