<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <title>TCC | Agendamentos</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Agendamentos</h1>
    <div class="alert alert-primary" th:if="${#lists.isEmpty(agendamentos)}">
        Não possui nenhum Agendamento de Exame para confirmar!
    </div>
    <div class="alert alert-success" th:if="${mensagem}" th:text="${mensagem}"></div>
    <div class="alert alert-danger" th:if="${erro}" th:text="${erro}"></div>

    <div class="card">
        <div th:each="agendamento : ${agendamentos}">
            <div class="rounded-box">
                <div class="texto-card">
                    <div class="form-lista-agendamento">
                        <span class="descricao">Nome Paciente:</span>
                        <span th:text="${agendamento.paciente.nome}" ></span>
                    </div>
                    <div class="form-lista-agendamento">
                        <span class="descricao">Data Exame:</span>
                        <span th:text="${agendamento.dataConsulta}" ></span>
                    </div>
                    <div class="form-lista-agendamento">
                        <span class="descricao">Status Presença Paciente:</span>
                        <span th:if="${agendamento.statusAgendamentoMedico eq 'AGUARDANDO_CONFIRMACAO_AGENDAMENTO'}" class="errado">&#10007;</span>
                        <span th:if="${agendamento.statusAgendamentoMedico eq 'PACIENTE_PRESENTE'}" class="certo">&#x2714;</span>
                    </div>
                    <div class="form-lista-agendamento">
                        <span class="descricao">Status Agendamento:</span>
                        <span th:if="${agendamento.statusAgendamentoPaciente eq 'AGUARDANDO_CONFIRMACAO_AGENDAMENTO'}" class="errado">&#10007;</span>
                        <span th:if="${agendamento.statusAgendamentoPaciente eq 'PACIENTE_PRESENTE'}" class="certo">&#x2714;</span>
                    </div>
                    <div class="form-lista-agendamento">
                        <span class="descricao">Horário:</span>
                        <span th:text="${agendamento.horario.horaMinuto}"></span>
                    </div>
                    <div class="form-lista-agendamento">
                        <span class="descricao">Exame:</span>
                        <span th:text="${agendamento.exame.titulo}"></span>
                    </div>
                    <div class="form-lista-agendamento-botao">
                        <a th:href="@{/agendamentos/exame/confirmaAgendamento(idAgendamento=${agendamento.id})}" class="btn btn-success">Confirmar</a>
                        <a th:href="@{/agendamentos/exame/excluir(idAgendamento=${agendamento.id})}" class="btn btn-danger"  onclick="return confirm('Você deseja realmente cancelar este Agendamento?')">Cancelar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>