<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ulraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <title>TCC | Especialidade</title>
</head>
<div layout:fragment="content">
    <div>
        <h1>Detalhes do Médico</h1>
        <div class="alert alert-primary" th:if="${#lists.isEmpty(especialidades)}">
            Nenhuma especialidade cadastrada!
        </div>
        <div class="alert alert-success" th:if="${mensagem}" th:text="${mensagem}"></div>
        <div class="alert alert-danger" th:if="${erro}" th:text="${erro}"></div>
    </div>
    <a th:href="@{/especialidade}" class="btn btn-primary mt-3">Voltar</a>
</div>

</html>