.formulario {
  padding: 5%;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  width: 50%;
}

.rounded-box {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.form-lista-agendamento {
    display: flex;
}

.descricao {
    font-weight: bold;
    margin-right: 5px;
}

.card {
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.pesquisa {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.pesquisa-barra {
  width: 50%;
  margin: 5px;
}

.botao {
  margin: 5px;
}

.webcam-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

#webcam {
  width: 350px;
  height: auto;
  display: inline-block;
}

#captured-image {
  width: 315px;
  height: auto;
  display: inline-block;
}

#captured-image {
  margin-top: 10px;
}

#capture {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#capture:hover {
  background-color: #0056b3;
}

h1 {
  text-align: left;
  margin: 0px;
  margin-bottom: 5%;
  padding-left: 10%;
  color: #f8f9fa;
  background-color: #093364;
  font-family: "Teko", sans-serif;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f8f9fa;
}

.certo {
    color: green;
}

.errado {
    color: red;
}

.card-agendamento {
  display: flex;
  padding: 20px;
  margin: 20px;
  justify-content: center;
}

.card-agendamento a {
  text-decoration: none;
}

.tipo-agendamento {
  margin: 20px;
  text-align: center;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #093364;
}

.tipo-agendamento h2 {
  color: white;
}

.tipo-agendamento img {
  width: auto;
  max-width: 660px;
  border-radius: 10px;
}

.card-lista {
  display: flex;
  margin: 0px 300px;
  margin-bottom: 40px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.card-lista img {
  width: 220px;
  height: 220px;
  border-radius: 10px;
}

.tag-agendamento {
  background-color: #093364;
  text-decoration: none;
  color: white;
  text-align: center;
  padding: 3px;
  border-radius: 5px;
  margin-bottom: 30px;
}
.texto-card {
  padding: 20px;
  display: flex;
  flex-direction: column;
  color: #093364;
}

.card-home {
  display: flex;
  background-color: #f8f9fa;
  color: #093364;
  padding: 20px;
  margin-bottom: 30px;
  border: 5px;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.3);
}

.card-home img {
  align-items: center;
}

.card-home-texto {
  padding-left: 20px;
}
