.button__logout{
    display: flex;
    flex-direction: row-reverse;
}

.pesquisa{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2%;
}

.apresentacao{
    margin: 2%;
    padding: 2%;
}

.titulo{
    display: flex;
    margin: 2%;
}