<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ulraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout.html}">
<head>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <title>TCC | Exame</title>
</head>
    <div layout:fragment="content">

        <div class="card">

            <div >
                <h1>Exame</h1>

            </div>

            <div class="formulario">
                <form method="post" th:action="@{/exame/cadastrar}" th:object="${exame}" class="card-body row" >
                    <input type="hidden" th:field="*{id}">
                    <div class="mb-3">
                        <label for="titulo" class="form-label">Exame</label>
                        <input type="text" class="form-control" id="titulo" th:field="${exame.titulo}"
                               placeholder="Digite o nome da especialidade" required>
                    </div>
                    <div class="mb-3">
                        <label for="descricao" class="form-label">Descrição</label>
                        <textarea class="form-control" id="descricao" rows="3" placeholder="Breve descrição sobre o exame médico"
                                  th:field="${exame.descricao}" required></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="foto" class="form-label">url da imagem</label>
                        <input type="text" class="form-control" id="foto" th:field="${exame.urlImagem}"
                               placeholder="url da imagem" >
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary mt-3">Cadastrar</button>
                        <a th:href="@{/exame}" class="btn btn-primary mt-3">Voltar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

</html>