<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <title>TCC | Exame</title>
</head>
<body>
    <div layout:fragment="content">

        <div class="titulo">
            <h1 >Exames</h1>
        </div>

        <div class="alert alert-primary" th:if="${#lists.isEmpty(exames)}">
            Nenhum exame cadastrado!
        </div>
        <div class="alert alert-success" th:if="${mensagem}" th:text="${mensagem}"></div>
        <div class="alert alert-danger" th:if="${erro}" th:text="${erro}"></div>

        <div class="pesquisa">

            <form class="pesquisa-barra d-flex" method="GET" th:action="@{/exame?nome=${palavra}}">
                <input class="form-control me-2 " type="search" name="palavra" placeholder="Search" aria-label="Search">
                <button class="btn btn-primary" type="submit">Pesquisar</button>
            </form>

            <a href="/exame/cadastrar" class="botao btn btn-primary">Novo Exame</a>
        </div>

        <div class="card"  th:if="${not #lists.isEmpty(exames)}">
            <table class="table">
                <thead>
                <tr>
                    <th>Título</th>
                    <th>Opções</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="exame : ${exames}">
                        <td th:text="${exame.titulo}"></td>
                        <td>
                            <a th:href="@{/exame/cadastrar(idExame=${exame.id})}" class="btn btn-outline-warning">Editar</a>
                            <a th:href="@{/exame/excluir(idExame=${exame.id})}" class="btn btn-outline-danger"  onclick="return confirm('Você deseja realmente excluir este Exame?')">Excluir</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</body>
</html>