<!doctype html>
<html lang="pt-br"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <link rel="icon" th:href="@{/images/favicon.ico}" />
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img class="mb-4" th:src="@{/images/Anhembi-morumbi-logo.png}" alt=""
                                                  width="72" height="72">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/agendamentos">Agendamentos</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Administrador
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/especialidade">Especialidades</a></li>
                            <li><a class="dropdown-item" href="/medico">Médicos</a></li>
                            <li><a class="dropdown-item" href="/paciente">Pacientes</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <div class="btn-group mb-2 mr-sm-2">
                            <a class="btn btn-danger button__logout" aria-current="page" href="/logout">Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main>
        <div layout:fragment="content"></div>
    </main>

    <script>
    const webcamElement = document.getElementById('webcam');
    const captureButton = document.getElementById('capture');
    const canvasElement = document.getElementById('canvas');
    const imagemBase64Input = document.getElementById('imagemBase64'); // Campo oculto

    navigator.mediaDevices.getUserMedia({ video: true })
        .then(function (stream) {
            webcamElement.srcObject = stream;
        })
        .catch(function (error) {
            console.error('Erro ao acessar a webcam:', error);
        });

    captureButton.addEventListener('click', function () {
        const context = canvasElement.getContext('2d');
        canvasElement.width = webcamElement.videoWidth;
        canvasElement.height = webcamElement.videoHeight;
        context.drawImage(webcamElement, 0, 0, webcamElement.videoWidth, webcamElement.videoHeight);

        // Compactação da imagem antes da conversão para base64
        const quality = 0.8; // Qualidade da compactação (0 a 1)
        canvasElement.toBlob(function(blob) {
            const reader = new FileReader();
            reader.readAsDataURL(blob);
            reader.onloadend = function() {
                const compressedImageDataUrl = reader.result;

                // Atualize o campo oculto com a imagem compactada em formato base64
                imagemBase64Input.value = compressedImageDataUrl;

                // Exiba a imagem compactada (opcional)
                const capturedImage = document.getElementById('captured-image');
                capturedImage.src = compressedImageDataUrl;
                capturedImage.style.display = 'block';
            };
        }, 'image/jpeg', quality);
    });
</script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous">
    </script>
</body>
</html>