<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ulraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <link rel="stylesheet" href="@{/css/layout.css}" />
    <title>TCC | Novo Paciente</title>
    <link rel="stylesheet" th:href="@{/css/layout.css}">
</head>
<div layout:fragment="content">

    <div class="titulo">
        <h1>Cadastrar Paciente</h1>
        <a th:href="@{/paciente}" class="btn btn-primary mt-3">Voltar</a>
    </div>

    <div class="apresentacao">
        <form method="post" th:action="@{/paciente/cadastrar}" th:object="${pacienteDTO}" class="card-body row" >
            <div>
                <h4>Paciente</h4>
                <div class="mb-3">
                    <label for="nome-paciente" class="form-label">Nome Completo</label>
                    <input type="text" class="form-control" id="nome-paciente" th:field="${pacienteDTO.nome}"
                           placeholder="Digite seu nome" required>
                </div>
                <div class="mb-3">
                    <label for="rg" class="form-label">RG</label>
                    <input type="text" class="form-control" id="rg" th:field="${pacienteDTO.rg}"
                           placeholder="RG" required>
                </div>
                <div class="mb-3">
                    <label for="cpf" class="form-label">CPF</label>
                    <input type="text" class="form-control" id="cpf" th:field="${pacienteDTO.cpf}"
                           placeholder="Cpf" required>
                </div>
                <div class="mb-3">
                    <label for="dataNascimento" class="form-label">Data de nacimento</label>
                    <input type="date" class="form-control" id="dataNascimento" th:field="${pacienteDTO.dataNascimento}"
                           placeholder="" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="text" class="form-control" id="email" th:field="${pacienteDTO.email}"
                           placeholder="" required>
                </div>
                <div>
                    <video id="webcam" autoplay></video>
                    <button id="capture">Capturar Foto</button>
                    <canvas id="canvas" style="display: none;"></canvas>
                    <img id="captured-image" src="" alt="Foto capturada" style="display: none;">
                    <input type="hidden" id="imagemBase64" th:field="${pacienteDTO.imagemBase64}" />
                </div>
            </div>
                <h4>Convênio</h4>
                <div class="mb-3">
                    <label for="nome-convenio" class="form-label">Nome Convênio</label>
                    <input type="text" class="form-control" id="nome-convenio" th:field="${convenioDTO.nomeConvenio}"
                           placeholder="Digite seu nome" required>
                </div>
                <div class="mb-3">
                    <label for="plano" class="form-label">Plano</label>
                    <input type="text" class="form-control" id="plano" th:field="${convenioDTO.plano}"
                           placeholder="" required>
                </div>
                <div class="mb-3">
                    <label for="numero-convenio" class="form-label">Numero do Convênio </label>
                    <input type="text" class="form-control" id="numero-convenio" th:field="${convenioDTO.numeroIdentificacao}"
                           placeholder="" required>
                </div>
                <div class="mb-3">
                    <label for="dataInicio" class="form-label">Data de início</label>
                    <input type="date" class="form-control" id="dataInicio" th:field="${convenioDTO.dataInicio}"
                           placeholder="" required>
                </div>
                <div class="mb-3">
                    <label for="dataTermino" class="form-label">Data de validade</label>
                    <input type="date" class="form-control" id="dataTermino" th:field="${convenioDTO.dataTermino}"
                           placeholder="" required>
                </div>
            <div>

            </div>
            <button type="submit" class="btn btn-primary mt-3">Cadastrar</button>
        </form>
    </div>
</div>

</html>