<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ulraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <link rel="stylesheet" href="@{/css/layout.css}" />
    <title>Webcam</title>
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<h1>Captura de Webcam</h1>
<video id="webcam" autoplay></video>
<button id="capture">Capturar Foto</button>
<canvas id="canvas" style="display: none;"></canvas>
<img id="captured-image" src="" alt="Foto capturada" style="display: none;">

<script>
        const webcamElement = document.getElementById('webcam');
        const captureButton = document.getElementById('capture');
        const canvasElement = document.getElementById('canvas');

        navigator.mediaDevices.getUserMedia({ video: true })
            .then(function (stream) {
                webcamElement.srcObject = stream;
            })
            .catch(function (error) {
                console.error('Erro ao acessar a webcam:', error);
            });

        captureButton.addEventListener('click', function () {
            const context = canvasElement.getContext('2d');
            canvasElement.width = webcamElement.videoWidth;
            canvasElement.height = webcamElement.videoHeight;
            context.drawImage(webcamElement, 0, 0, webcamElement.videoWidth, webcamElement.videoHeight);
            const imageDataUrl = canvasElement.toDataURL('image/jpeg');

            // Enviar a imagem para o backend (substitua a URL pelo seu endpoint)
            fetch('URL_DO_BACKEND', {
                method: 'POST',
                body: JSON.stringify({ image: imageDataUrl }),
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => response.json())
            .then(data => {
                console.log('Imagem enviada com sucesso para o backend:', data);
            })
            .catch(error => {
                console.error('Erro ao enviar imagem para o backend:', error);
            });
        });
    </script>
</body>
</html>