<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ulraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <link rel="stylesheet" href="@{/css/layout.css}" />
    <title>TCC | Especialidade</title>
</head>
<div layout:fragment="content">
    <div>
        <h1>Detalhes do Médico</h1>

        <div class="apresentacao">



            <div class="apresentacao" >
                <table class="table">
                    <thead>
                    <tr>
                        <th>Título</th>
                        <th>Opções</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="especialidade : ${medico.especialidade}">
                        <td th:text="${especialidade.titulo}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <a th:href="@{/medico}" class="btn btn-primary mt-3">Voltar</a>
</div>

</html>